@import url('https://fonts.googleapis.com/css2?family=Special+Gothic&display=swap');
@import "tailwindcss";

body {
    font-family: "Special Gothic", sans-serif;
    font-size: large;
    font-weight: 550;
    font-style: normal;
}

/* Custom Swiper styles for better mobile display */
.featured-products-swiper {
    width: 100%;
    height: auto;
    padding-bottom: 40px !important;
}

.featured-products-swiper .swiper-pagination {
    bottom: 0 !important;
}

.featured-products-swiper .swiper-slide {
    height: auto !important;
    display: flex !important;
}

/* Fix for smaller screens */
@media (max-width: 640px) {
    .featured-products-swiper .swiper-slide {
        width: 85% !important;
        margin-right: 15px !important;
    }
}
